body {background:  	; 


	margin-left: 3cm;
	margin-right: 3cm;
  	font-family: "trebuchet ms", "verdana";
  	font-size: 12px;
  	}

h1	{
	font-size: 14pt;
	font-family: "Adobe Gothic Std B", "Baskerville Old Face", 
	font-weight: bold;
	background: #008500;
	letter-spacing: 0,5cm;
	color: yellow;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 40px;
	border-top:5px solid black;}


h2 {
background: gray;
text-align: left;
color: yellow;
padding-top: 5px;
padding-bottom: 5px;
}

p {
	font-size: 12px;
}



.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: yellow;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
   
    font-size: 16px;
}




.button:disabled {
  
  background-color: grey;
}